<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.livroandroid.propertyanimation">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".TranslateAnim" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".ExemploAnimatorListenerApagarTela" android:parentActivityName=".MainActivity"/>
        <activity android:name=".ExemploValueAnimatorTextViewActivity" android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ExemploViewPropertyAnimatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploAnimatorSet"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScaleAnim"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RotateAnim"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploValueAnimator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlphaAnim"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>